PRIVATE_KEY_DEPLOY=
CONSTANTS_FILENAME="Bsc-Test.json"
OUTPUT_FILENAME="Bsc-Test.json"

BSC_RPC_URL=
BSC_SCAN_API_KEY=
BSC_ETHERSCAN_VERIFIER_URL=https://api.bscscan.com/api

BASE_GOERLI_RPC_URL=
BASE_GOERLI_ETHERSCAN_API_KEY=
BASE_GOERLI_ETHERSCAN_VERIFIER_URL=

BASE_RPC_URL=
BASE_ETHERSCAN_API_KEY=
BASE_ETHERSCAN_VERIFIER_URL=